


<h1> <%= bulletin_header(@board) %></h1>  

<ul>
  <% @bulletins.each do |bulletin| %>
    <p><h3>Title: <%= link_to bulletin.title, bulletin_path(bulletin) %></h3> by: <%= bulletin.user.username %></p> 
    <p> <%= created_at bulletin %> </P>
  <% end %>
</ul>

