<h2> Hi! <%= current_user.username %> </h2>  

<% @boards.each do |board| %>

    <h2><strong><%= link_to board.month, board_path(board) %></h2></strong>
  

    <p> <%= link_to "Check All Bulletins", board_bulletins_path(board)%> </p>

    <%= link_to "Create New Bulletins", new_board_bulletin_path(board) %> 
    
<% end %> 

